@use 'node_modules/yue.css/yue.css';
@use 'node_modules/highlight.js/scss/solarized-light.scss';

body {
  margin: 1em;

  @media (min-width: 600px) {
    margin: 1em 10% 1em 10%;
  }

  @media (min-width: 900px) {
    margin: 1em 15% 1em 15%;
  }
}

header {
  display: grid;
  grid-template-columns: 50% 50%;
}

header nav a {
  text-decoration: none;
}

header nav time {
  display: inline-block;
}

.align-right {
  text-align: right;
}

ul.card-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-gap: 1rem;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 1rem 0;

  &__content {
    padding: 15px;
  }
  
  &__content h3 {
    margin: 0;
  }

  &__content time {
    display: block;
    text-align: right;
  }

  &__image {
    background-position: 50% 50%;
    background-origin: border-box;
    background-size: cover;
    width: auto;
    height: 250px;
  }
}

.card > a {
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

ol.pagination, ul.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination {
  display: flex;
  flex-direction: row;

  &__prev-next {
    flex-grow: 1;

    &--right {
      text-align: right;
    }
  }

  &__prev-next > a {
    text-decoration: none;
  }

  &__item {
    flex: auto;
    text-align: center;
  }
}

.feed {
  padding: 0 0 0 28px;
  background: url("/assets/images/feed-icon-28x28.png") no-repeat 0 50%;
  background-size: 25px;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;

  &__toggle {
    display: none;
    box-sizing: border-box;
  }

  &__header {
    cursor: pointer;
    text-align: center;
    display: block;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    font-weight: 700;
    padding: 5px 0;
  }

  &__toggle-button {
    position: fixed;
    top: 0;
    left: 0;

    &--active {
      display: none;
    }
  }

  &__toggle-button img {
    max-height: 30px;
  }

  &__container {
    text-align: center;
    box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, .9);
    transition: transform 100ms ease-in-out;
    transform: translateY(-100vh);
    padding: 0 0 5px 0;
  }

  &__section-heading {
    font-weight: 700;
  }
}

#menu-toggle:checked ~ .menu__container {
  transform: translateY(0);
}

#menu-toggle:checked ~ .menu__header {
  box-shadow: none;
}

#menu-toggle:checked ~ .menu__toggle-button .menu__toggle-button--inactive {
  display: none;
}

#menu-toggle:checked ~ .menu__toggle-button .menu__toggle-button--active {
  display: block;
}

ul.menu-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.article {
  margin-top: 60px;
}
