@use 'node_modules/yue.css/yue.css';
//@use 'node_modules/highlight.js/scss/github-gist.scss';
@use 'node_modules/highlight.js/scss/solarized-light.scss';

body {
  margin: 1em;

  @media (min-width: 600px) {
    margin: 1em 10% 1em 10%;
  }

  @media (min-width: 900px) {
    margin: 1em 15% 1em 15%;
  }
}

header {
  display: grid;
  grid-template-columns: 50% 50%;
}

header nav a {
  text-decoration: none;
}

header nav time {
  display: inline-block;
}

.align-right {
  text-align: right;
}

ul.card-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: 900px) {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-gap: 1rem;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 1rem 0;

  &__content {
    padding: 15px;
  }
  
  &__content h3 {
    margin: 0;
  }

  &__content time {
    display: block;
    text-align: right;
  }

  &__image {
    background-position: 50% 50%;
    background-origin: border-box;
    background-size: cover;
    width: auto;
    height: 250px;
  }
}

.card > a {
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

ol.pagination, ul.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination {
  display: flex;
  flex-direction: row;

  &__prev-next {
    flex-grow: 1;

    &--right {
      text-align: right;
    }
  }

  &__prev-next > a {
    text-decoration: none;
  }

  &__item {
    flex: auto;
    text-align: center;
  }
}
